.root {
  align-items: center;
  max-height: fit-content;
  display: flex;
}

.icon {
  color: white;
  background: transparent;
  outline: none;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 3px black;
  box-sizing: border-box;
}

.block {
  display: flex;
  background: gray;
  font-size: 18px;
  padding: 2px 5px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: max-content;
  margin: 0 5px 0 0;
}

.section_heading {
  text-transform: uppercase;
  padding: 0;
  margin: 0 10px 0 0;
  color: white;
  font-size: 18px;
}