.custom-bubble-menu {
  > h1 {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.custom-bubble-menu {
  display: flex;
  background-color: #928e8e;
  padding: 4px;
  border-radius: 0.5rem;

  button {
    border: none;
    background: none;
    color: #FFF;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.2rem;
    opacity: 0.6;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}

.floating-menu {
  display: flex;
  background-color: #0D0D0D10;
  padding: 0.2rem;
  border-radius: 0.5rem;

  button {
    border: none;
    background: none;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.2rem;
    opacity: 0.6;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}

.custom-bubble-menu-hide {
  visibility: hidden !important;
}

.custom-bubble-menu-show {
  visibility: visible !important;
}