.ProseMirror {
  min-height: 250px;
  width: 100%;
  height: 100%;

  > * + * {
    margin-top: 0.75em;
  }

  > h1 {
    font-size: 2em;
    text-align: end;
    text-transform: uppercase;
    counter-reset: h2counter;
  }

  > h2 {
    font-size: 1.5em;
    margin-left: 2rem;
    position: relative;
    counter-reset: h3counter;

    ::before {
      content: counter(h2counter, upper-roman);
      counter-increment: h2counter;
      position: absolute;
      left: -2rem;
    }
  }

  > h3 {
    font-size: 1.17em;
    margin-left: 4rem;
    position: relative;
    counter-reset: h4counter;

    ::before {
      content: counter(h3counter, upper-alpha);
      counter-increment: h3counter;
      position: absolute;
      left: -4rem;
    }
  }

  > h4 {
    font-size: 1em;
    margin-left: 6rem;
    position: relative;
    counter-reset: h5counter;

    ::before {
      content: counter(h4counter, decimal);
      counter-increment: h4counter;
      position: absolute;
      left: -6rem;
    }
  }

  > h5 {
    font-size: .83em;
    margin-left: 8rem;
    position: relative;
    counter-reset: h6counter;

    ::before {
      content: counter(h5counter, lower-alpha);
      counter-increment: h5counter;
      position: absolute;
      left: -8rem;
    }
  }

  > h6 {
    font-size: .67em;
    margin-left: 10rem;
    position: relative;
    counter-reset: h7counter;

    ::before {
      content: counter(h6counter, decimal);
      counter-increment: h6counter;
      position: absolute;
      left: -10rem;
    }
  }

  > .h7 {
    font-size: .67em;
    margin-left: 12rem;
    position: relative;
    counter-reset: h8counter;

    ::before {
      content: counter(h7counter, lower-alpha);
      counter-increment: h7counter;
      position: absolute;
      left: -12rem;
    }
  }

  > .h8 {
    font-size: .60em;
    margin-left: 14rem;
    position: relative;
    counter-reset: h9counter;

    ::before {
      content: counter(h8counter, lower-roman);
      counter-increment: h8counter;
      position: absolute;
      left: -14rem;
    }
  }

  blockquote {
    border-left: 3px solid rgba(#0d0d0d, 0.1);
    padding-left: 1rem;
  }

  ::selection {
    background: #D1FAE5;
  }

  a {
    color: #232323;
    font-weight: bold;
    text-decoration: underline #35B996 2px;
    font-size: 19px;
    line-height: 28px;
  }

  code {
    background-color: rgba(#616161, 0.1);
    border-radius: 0.25em;
    box-decoration-break: clone;
    color: #616161;
    font-size: 0.9rem;
    padding: 0.25em;
  }
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  font-size: 28px;
  font-weight: 700;
  color: #BCBCBC;
  content: attr(data-placeholder);
  font-family: PC sans, sans-serif;
}

/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}

.tabBar {
  max-height: max-content;
  border: 1px solid gray;
  margin-bottom: 5px;
  padding: 5px;
}

.textEditor {
  height: 100% !important;
  max-height: 100%;
  border: 1px solid gray;
  padding: 5px;
}

/* MY styles */
.editor-content {
  margin: 1em;
}

.tiptap {
  .tiptap-container {
    min-width: 800px;
  }

  .comment-section {
    article.comment {
      padding: 0.5em;
      display: flex;
      flex-direction: column;

      .comment-details {
        display: flex;
        flex-direction: column;
        margin: 0 0 8px 0;

        .date-time {
          font-size: 0.7em;
        }
      }
    }

    textarea {
      padding: 0.5em;
      display: flex;
      border-radius: 6px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      width: 100%;
    }
  }

  .external-comment {
    width: 400px;
  }

  .comment-adder-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: white;

    textarea {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      border-radius: 6px;
      padding: 0.5em;
    }
  }

  .ProseMirror {
    outline: none !important;

    &:focus {
      outline: none !important;
    }

    span[data-content] {
      position: relative;

      background: rgba(172, 255, 47, 0.5);

    }

      [data-index] {
        &::after {
          content:attr(data-index);
          user-select: all;
        }
    }
  }
}

